body{
    overflow-x: hidden;
}

.container-xxl {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

.btn{
    font-size: 16px;
    padding: 6px 10px;
}

h1 {
    font-size: 30px;
    margin-top: 30px;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    text-align: center;
  }

h4{
    font-size: 18px;
}

.hero-quote {
    font-size: 18px;
}


.header img {
    border: 3px groove #FFD700; 
    outline: 1px double white; 
}


.hidden{
    display: none !important;
}
 
.hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
  

.leader-card {
    flex-direction: column;
}
  

.leader-card-content p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}
  
.leader-quote {
    text-align: center;
    margin-bottom: 40px;
}

.leader-card-image{
    margin-bottom: 40px;
}